.color-white {
  color : rgb(255, 254, 254);
}

ion-toolbar {
  --background: #0C1433;
}

ion-content {
  --background: #f0f0f0;
}


ion-card {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}
