<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button class="color-white"></ion-menu-button>
      </ion-buttons>
      <ion-title class="color-white">Control de Matrícula</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-toolbar color={{colorSubtitle}} class="flag">
    <ion-text color="dark" class="text-flag">
      <h5>{{textHeader}}</h5>
    </ion-text>
  </ion-toolbar>
  <ion-content class="ion-padding">
    <ion-button expand="block" class='buttonGroup' (click)="modificarEstadoMatricula()"><ion-text color="redColor">{{textButton1}} <br class='button-text'> de matrícula</ion-text></ion-button>
    <ion-card>
      <ion-card-header (click)="showCourses()">
        <ion-card-title>Lista de cursos</ion-card-title>
        <ion-card-subtitle>Cursos disponibles: {{this.listaCursos.length}}</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item *ngIf="this.listaCursos.length == 0">
          <ion-icon name="warning" class="color-red" slot="start"></ion-icon>
          <h2>No hay cursos matriculados</h2>
        </ion-item>

        <ion-list *ngIf="ver && this.listaCursos.length > 0">
          <ion-item *ngFor="let entry of listaCursos">
            <div class ="enlista">
              <ion-card-content (click)="showGroup(entry)">
                <h2> Curso: {{entry.codigo}} {{entry.nombre}} </h2>
                <ion-card-subtitle>Grupos: {{entry.groups.length}} </ion-card-subtitle>
              </ion-card-content>

              <ion-list *ngIf="entry.ver">
                <ion-item class='estiloCourse' *ngFor="let groupItem of entry.groups">
                  <div class ="enlista">
                    <ion-card-content>
                      <h5> Sede: {{groupItem.sede}}</h5>
                      <h2> Prof. {{groupItem.nombre}} </h2>
                      <ion-card-subtitle>Grupo: {{groupItem.numero}} </ion-card-subtitle>
                    </ion-card-content>
                  </div>
                  <div class="senListaCupos">
                      <h5>Total cupos: {{groupItem.cupos}} </h5>
                      <h5>Cupos restantes: {{groupItem.cupos - groupItem.cantidad_matriculados}} </h5>
                      <ion-button class="buttonGroup">
                        <ion-text color="redColor">
                          Agregar <br class='button-text'>cupos
                        </ion-text>
                      </ion-button>
                  </div>
                </ion-item>
              </ion-list>
            </div>
          </ion-item>
        </ion-list>
      </ion-card-content>
      <ion-item-divider></ion-item-divider>
      <ion-card-header>
        <ion-card-title style="text-align:center" color="primary">Agregar curso </ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-content>
</div>

