.enlista{
    display: flex;
    flex-direction: column;
    width: 100% !important;
    margin: 0 !important;
  }

  ion-toolbar {
    --background: #0C1433;
  }

  .color-white {
    color : rgb(255, 254, 254);
  }

  .color-red {
    color : red;
  }
