<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="lista-levantamamiento-admin" class = "color-white"></ion-back-button>
    </ion-buttons>
    <ion-title class = "color-white">Resumen</ion-title>
    <ion-button slot="end" color="warning" (click)="presentAlert()">Aprobar</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header (click)="acordion()">
      <ion-card-title>Solicitudes aceptadas: {{tamano}}</ion-card-title>
      <ion-card-subtitle>Click para ver detalles </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list *ngIf="ver">
        <ion-item *ngFor="let entry of aceptadas">
          <div class ="enlista">
            <ion-card-content>
              <ion-card-subtitle>Sede: {{entry.sede}} </ion-card-subtitle>
              <ion-card-title>Solicitud # {{entry.solicitud}}</ion-card-title>
              <h2> Curso: {{entry.curso}} </h2>
              <ion-card-subtitle>Nombre: {{entry.nombre}} </ion-card-subtitle>
              <ion-card-subtitle>Carnet: {{entry.carnet}} </ion-card-subtitle>
            </ion-card-content>
          </div>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
