.iconList {
    float: right;
}

.text {
    white-space: normal;
    font-family: 'Roboto', sans-serif;
    font-style: 'Regular';
    fill: solid;
}

.courseTitle {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.87);
}

.campusText {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.87);
}

.courseItem {
    font-size: 14px;
    color: #666666;
}

.state{
    float: right;
    vertical-align: Center;
    color: #EB445A;
}

.radio {
    float: right;
    margin-left: 10px;
}
