<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="courses-list-admin" class = "color-white"></ion-back-button>
    </ion-buttons>
    <ion-title class = "color-white">Formulario de grupo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title> {{ curso.codigo}} {{curso.nombre}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <h1>
        Información general
      </h1>
      <ion-item>
        <ion-label>Sede: </ion-label>
        <ion-select [(ngModel)]="sede">
          <ion-select-option *ngFor="let sede of sedes">{{sede.sede}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Número de grupo: </ion-label>
        <ion-input type="number" [(ngModel)]="numero" slot="end"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Cupos: </ion-label>
        <ion-input  type="number" [(ngModel)]="cupos" slot="end"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Profesor: </ion-label>
        <ion-select class="myCustomSelect" [(ngModel)]="prof">
          <ion-select-option class="myCustomSelect" *ngFor="let prof of Profesores"><h3>{{prof.nombre}}</h3></ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Salón: </ion-label>
        <ion-input [(ngModel)]="salon" slot="end"></ion-input>
      </ion-item>
      <h1>
        Horario
      </h1>
        <ion-grid>
          <ion-row>
            <ion-col *ngFor="let dia of dias">
              <ion-checkbox [(ngModel)]="dia.checked"></ion-checkbox>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col *ngFor="let dia of dias">
              <ion-label>{{dia.dia}} </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-item>
          <ion-label>Hora de inicio: </ion-label>
          <ion-select [(ngModel)]="inicio">
            <ion-select-option *ngFor="let inicio of horasInicio" >{{inicio.hora}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Hora de fin: </ion-label>
          <ion-select [(ngModel)]="fin">
            <ion-select-option *ngFor="let fin of horasFin" >{{fin.hora}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button expand="block" (click)="enviar()">Agregar grupo </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
