.color-white {
    color : rgb(255, 254, 254);
  }

  .color-red {
    color : red;
  }

  ion-toolbar {
    --background: #0C1433;
  }


   ion-select {

    /* Set a different placeholder color */
    --placeholder-color: #000000;
  }
