<ion-header>
  <ion-toolbar class="header">
    <ion-grid>
      <ion-row>
        <ion-col size="auto">
          <ion-menu-button class="iconHeader"></ion-menu-button>
        </ion-col>
        <ion-col>
          <br><br><br>
          <ion-text class="text textHeader">{{title}}</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class='cardP'>
    <ion-card-header>
      <ion-card-title class='center title'>Propósito</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class='center'>
      <p class='purpose'>El desarrollo del proyecto QualiTec busca dar acceso a estudiantes a un sistema real que simulará el proceso de matrícula en línea, sobre el que se pueda realizar evaluaciones de calidad con fines didácticos en el curso de Aseguramiento de la Calidad del Software.</p><br><br>
      <ion-card-title class='center title'>Equipo</ion-card-title>
      <ion-thumbnail class='imgCenter'>
        <img class="imgRisize" src="../../../assets/equipoImg.svg">
      </ion-thumbnail>
      <ion-text color='redColor'>
        <h2 class='nameTeam'>Francisco Pereira</h2>
      </ion-text>
      <ion-text>
        <h5 class='rol'>Project Manager - Front End</h5>
      </ion-text>
      <ion-thumbnail class='imgCenter'>
        <img class="imgRisize" src="../../../assets/equipoImg.svg">
      </ion-thumbnail>
      <ion-text color='redColor'>
        <h2 class='nameTeam'>Bernold Abarca</h2>
      </ion-text>
      <ion-text>
        <h5 class='rol'>Front End</h5>
      </ion-text>
      <ion-thumbnail class='imgCenter'>
        <img class="imgRisize" src="../../../assets/equipoImg.svg">
      </ion-thumbnail>
      <ion-text color='redColor'>
        <h2 class='nameTeam'>Adrián Mora</h2>
      </ion-text>
      <ion-text>
        <h5 class='rol'>Front End</h5>
      </ion-text>
      <ion-thumbnail class='imgCenter'>
        <img class="imgRisize" src="../../../assets/equipoImg.svg">
      </ion-thumbnail>
      <ion-text color='redColor'>
        <h2 class='nameTeam'>Moisés Higuerey</h2>
      </ion-text>
      <ion-text>
        <h5 class='rol'>Back End</h5>
      </ion-text>
      <ion-thumbnail class='imgCenter'>
        <img class="imgRisize" src="../../../assets/equipoImg.svg">
      </ion-thumbnail>
      <ion-text color='redColor'>
        <h2 class='nameTeam'>Nelson Vega</h2>
      </ion-text>
      <ion-text>
        <h5 class='rol'>Back End</h5>
      </ion-text>
    </ion-card-content>
  </ion-card>
  
</ion-content>
