.color-white {
    color : rgb(255, 254, 254);
  }

  .icono {
    font-size: 25px;
    margin-left: 5px;
    margin-right: 1px;
  }

  .color-red {
    color : red;
  }

  ion-toolbar {
    --background: #0C1433;
  }

  .flag { 
    position: relative;
    height: 25px;
  }

  .text-flag{
    position:relative;
    top:-20px;
    text-align:center;
  }
  .centrar{
    display: flex;
    align-items: center;
    justify-content: end;
  }